/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Installed Node.js modules
node_modules/

# Build directory for Vercel deployments
.vercel_build_output

# Target build directory for processed, compiled web app
dist/

test/temp
.tmp
test-results/

# SASS intermediate compile files
*.scssc

# SASS cache directory
.sass-cache

# temporary editor save files
*~

# OSX thumbnail caches
.DS_Store

# log files
*.log
npm-debug.log*

# JetBrains editor dir
.idea/

