/**
 * END CSS RESET
 */

@media (max-width: 767px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (max-width: 576px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (min-width: 576px) {
	.visible-xs {
		display: none !important;
	}
}
