/*
	Per-year styling
*/

/* default colors for years with no styling of their own */
.site-container, 
/* colors for a specific year */
.site-container[data-year="2022"] {
	--body-color: #686aab;
	--header-color: #d2927f;
	--sidebar-color: #a0838f;
	--button-color: #e2c1bf;
	--button-disabled-color: #f1d6d5;
}

.site-container[data-year='2021'] {
	--body-color: #94949c;
	--header-color: #f7de5a;
	--sidebar-color: #838470;
	--button-color: #cec68c;
}

.site-container[data-year='2020'] {
	--body-color: #144d7f;
	--header-color: #678ec4;
	--sidebar-color: #b6c7d3;
	--button-color: #beb7b3;
}

.site-container[data-year='2019'] {
	--body-color: #4a4843;
	--header-color: #d86b61;
	--sidebar-color: #a79b83;
	--button-color: #a65e68;
}

.site-container[data-year='2018'] {
	--body-color: #676559;
	--header-color: #87679f;
	--sidebar-color: #879099;
	--button-color: #a1b9bd;
}

.site-container[data-year='2017'] {
	--body-color: #5c7148;
	--header-color: #d1af94;
	--sidebar-color: #be869f;
	--button-color: #efcec5;
}

.site-container[data-year='2016'] {
	--body-color: #034f84;
	--header-color: #98ddde;
	--sidebar-color: #91a8d0;
	--button-color: #c6f7f7;
}

.site-container[data-year='2015'] {
	--body-color: #692f55;
	--header-color: #c56d69;
	--sidebar-color: #837d54;
	--button-color: #e2b6b4;
}

.site-container[data-year='2014'] {
	--body-color: #8d5f5f;
	--header-color: #e8ddc7;
	--sidebar-color: #cebfa1;
	--button-color: #f7f3eb;
}

.site-container[data-year='2013'] {
	--body-color: #917d61;
	--header-color: #b7c8a4;
	--sidebar-color: #8a9e75;
	--button-color: #e9eee4;
}

.site-container[data-year='2012'] {
	--body-color: #973450;
	--header-color: #edb79c;
	--sidebar-color: #e77f4b;
	--button-color: #fdf6f2;
}

.site-container[data-year='2011'] {
	--body-color: #4d3087;
	--header-color: #e0ee83;
	--sidebar-color: #f6fadd;
	--button-color: #c2d543;
}

/*
	Global styles
	Almost all styling should be embedded in components, not here
*/

body {
	--default-padding: 0.5em;
	--default-border: solid black 1px;
	--default-text-color: #333;

	font-family: 'Trebuchet MS', Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

a {
	color: #337ab7;
	text-decoration: none;
}

/*
	Media queries
*/
@media (max-width: 767px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (max-width: 576px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (max-width: 301px) {
	.hidden-xxs {
		display: none !important;
	}
}

@media (min-width: 576px) {
	.visible-xs {
		display: none !important;
	}
}

/* 
	The CSS reset zeros out all margins.  However, album and photo captions 
	have actual paragraphs of content that need space between them.  So
	add a top margin to every <p> except the first.
*/
.caption > p:nth-of-type(n + 2),
/* Same thing on the Quill WYSIWYG editor */
.ql-editor > p:nth-of-type(n + 2) {
	margin-top: 0.7em;
}
