/**
 * END CSS RESET
 */

@media (max-width: 767px) {
	.hidden-sm {
		display: none !important;
	}
}

@media (max-width: 576px) {
	.hidden-xs {
		display: none !important;
	}
}

@media (max-width: 301px) {
	.hidden-xxs {
		display: none !important;
	}
}

@media (min-width: 576px) {
	.visible-xs {
		display: none !important;
	}
}

/* In captions, add a margin to every <p> except the first */
.caption > p:nth-of-type(n + 2) {
	margin-top: 0.7em;
}
